h1 {
  margin: 0;
}

.App {
  text-align: center;

  color: #61dafb;
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 2fr 2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header Header Header"
    "Sidedrawer Main Main Main Main Ads"
    "Sidedrawer Main Main Main Main Ads"
    "Sidedrawer Main Main Main Main Ads"
    "Sidedrawer Main Main Main Main Ads"
    "Sidedrawer Main Main Main Main Ads";
}

.Header {
  grid-area: Header;
  background-color: #282c34;
}

.Sidedrawer {
  grid-area: Sidedrawer;
  background-color: #282c34;
}

.Main {
  grid-area: Main;
  background-color: #282c40;
}

.Ads {
  grid-area: Ads;
  background-color: #282c34;
}
